<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true"  />
    </system.web>
    <connectionStrings>
        <add name="CustomerTable" connectionString="server = allman.forest.usf.edu;&#xD;&#xA;                                 User = wpusr33;&#xD;&#xA;                                 Password = we9aYatH" />
        <add name="ConnectionString" connectionString="Data Source=allman.forest.usf.edu;User ID=wpusr33;Password=we9aYatH"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>
